{
  "env": {
    "development": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": ["transform-class-properties"]
    },
    "production": {
      "presets": ["@babel/preset-env", "@babel/preset-react"],
      "plugins": ["transform-class-properties"]
    }
  }
}
